main{
  background-image:url(birthday-flower.jpg);
  background-size:cover;
  opacity:0.7;
  height:700px;
  width:100%;
}

.clickhere{
  display:inline-block;
  color:white;
  background-color:#008080;
  margin:150px 200px 100px 200px;
  border-radius:5px;
  box-shadow:0px 5px #000000;
  font-size:40px;
  border-bottom:none;
}

.clickhere:active{
  position:relative;
  top:5px;
  box-shadow:none;
}

.introduction h1{
  font-weight:normal;
  padding:100px 200px;
  color:white;
}  
